<button type="button" class="btn btn-primary" [routerLink]="['/index']" ><< Regresar</button>
<p>
--> You can  navigate to Posts or Albums users
</p>
<table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>User Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of lstUsers">
                <td scope="row">{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td><a [routerLink]="['/posts', item.id]">Posts</a></td>
                <td><a [routerLink]="['/albums',item.id]">Albums</a></td>
            </tr>
        </tbody>
</table>
