<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/index']">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarID">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" [routerLink]="['/users']">Users</a>
                <a class="nav-link active" aria-current="page" [routerLink]="['/admin']">Admin</a>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>