<button type="button" class="btn btn-primary" [routerLink]="['/users']" ><< Regresar</button>
<p>
--> you can navigate to comments post of user Id: {{userId}}
</p>
<table class="table">
    <thead>
        <tr>
            <th>User Id</th>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of lstPosts">
            <td scope="row">{{item.userId}}</td>
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.body}}</td>
            <td><a [routerLink]="['/comments', item.id, userId]">Comments</a></td>
        </tr>
    </tbody>
</table>
